<% provide( :title, "Home" ) %>
<%= render :partial => "navbar" %>
<div class="jumbotron">
	<h1>スタレコ</h1>
	<p>勉強した内容を共有、閲覧できるサービス</p>
	<p><a class="btn btn-primary btn-lg" href="/signup" role="button">新規登録</a></p>
</div>