<li>
  <span class="post-title"><%= post.title %></span>
  <span class="post-body"><%= post.body.slice(0..20) %></span>
  <span class="post-timestamp">
    <%= time_ago_in_words(post.created_at) %>前に投稿
  </span>
</li>