<% provide(:title, "投稿一覧" ) %>
<%= render :partial => "static_pages/navbar" %>

<div class="post-list">
  <% if @posts.any? %>
    <h3>投稿 (<%= @posts.count %>)</h3>
    <ol class="post">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>