// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body[class="posts show"],
body[class="comments create"]{
  background-color: #EEEEEE;

  div.post-content{
    background-color: white;
    margin: 5%;

    div[class="row title"]{
      h1{
        margin: 1% 2%;
      }
    }
    div[class="row body"]{
      margin: 2% 2%;
      font-size: large;
    }
    div.user-info{
      margin: 5% 1% 1% 1%;
    }
    div.post-info{
      margin: 1%;
    }
  }
  div.comment-list{
    background-color: white;
    margin: 5%;
    
    div.inner-comment-list{
      padding: 2%;
    }
    ul.comment{
      list-style-type: none;

      div.one-comment{
        margin: 2% 0 2% 0;
      }
      div.user-info{
        font-size: large;
      }
      div.comment-content{
        font-size: large;
      }
      div.comment-timestamp{
        font-size: medium;
        color: #808080;
      }
    }
  }
  div.create-comment{
    background-color: white;
    margin: 5% 25% 0% 25%;
    height: 200px;

    div.inner-create-comment{
      padding: 2%;
      height: 100%;
    }
    form, div[class="row content"]{
      height: 80%;
    }
    div.col-xs-12{
      height: 100%;
    }
    textarea{
      width: 100%;
      height: 80%;
    }
    div[class="row submit"]{
      margin-left: 2%;
    }
  }
}
body[class="posts index"],
body[class="posts search"]{
  div.post-list{
    margin: 0 5% 0 5%;
  }
  aside{
    img{
      padding-left: 20px;
    }
  }
  .post{
    list-style: none;
    padding: 0;
    li{
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .post-title{
      margin-top: 5em;
      padding-top: 0;
      font-size: large;
      a{
        color: black;
      }
    }
    .post-body{
      display: block;
      margin-left: 30px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .post-timestamp{
      color: lightgray;
      display: block;
      margin-left: 60px;
    }
  }
}
body[class="posts new"],
body[class="posts create"],
body[class="posts edit"],
body[class="posts update"]{
  height: 100%;
  div[class="container-fluid content"]{
    height: 100%;

    form{
      height: 100%;
    }
    div#error_explanation{
      margin-left: 50px;
      *{
        color: red;
      }
    }
    div[class="row title"]{
      height: 15%;
    }
    div[class="row body"]{
      height: 80%;
    }
    div[class="row submit"]{
      height: 5%;
      padding-left: 15px;
    }
    div.col-xs-12{
      height: 100%;
    }
    input[type="text"]{
      height: 100%;
      width: 100%;
      font-size: 40px;
    }
    textarea{
      height: 100%;
      width: 100%;
      font-size: 25px;
    }
  }
}