// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body[class="posts show"]{
  background-color: #EEEEEE;

  div.content{
    background-color: white;
    margin: 5%;
  }
  div[class="row title"]{
    h1{
      margin: 1% 2%;
    }
  }
  div[class="row body"]{
    margin: 2% 2%;
    font-size: large;
  }
  div.user-info{
    margin: 5% 1% 1% 1%;
  }
  div.post-info{
    margin: 1%;
  }
}
body[class="posts new"],
body[class="posts create"],
body[class="posts edit"],
body[class="posts update"]{
  height: 100%;
  div.container-fluid{
    height: 100%;
  }
  form{
    height: 100%;
  }
  div#error_explanation{
    margin-left: 50px;
    *{
      color: red;
    }
  }
  div[class="row title"]{
    height: 15%;
  }
  div[class="row body"]{
    height: 80%;
  }
  div[class="row submit"]{
    height: 5%;
    padding-left: 15px;
  }
  div.col-xs-12{
    height: 100%;
  }
  input[type="text"]{
    height: 100%;
    width: 100%;
    font-size: 40px;
  }
  textarea{
    height: 100%;
    width: 100%;
    font-size: 25px;
  }
}