// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body[class="users create"] , body[class="users new"]{
    
  div.row{
    margin-left: 50px;
  }
  div#error_explanation{
    margin-left: 50px;
    *{
      color: red;
    }
  }
}
body[class="users show"]{
  aside{
    img{
      padding-left: 20px;
    }
  }
  .post{
    list-style: none;
    padding: 0;
    li{
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .post-title{
      margin-top: 5em;
      padding-top: 0;
      font-size: large;
      a{
        color: black;
      }
    }
    .post-body{
      display: block;
      margin-left: 30px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .post-timestamp{
      color: lightgray;
      display: block;
      margin-left: 60px;
    }
  }
}